{% extends 'calculate/base.html' %}

{% block content %}

    <hr>
    <h2>Problem 1</h2>
    <form id= "problem1-form" method="POST">
        {% csrf_token %}
        <script>
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        </script>
        Enter value of x: <input id = "x" type="text" name="x"><br><br>
        Enter value of n: <input id = "n" type="text" name="n"><br><br>
        <input type="submit">
    </form>
    <br>
    <h3 id = "result1" >Result</h3>
    <br>
    <hr>
    <h3>Code available at:
        <a href="https://github.com/RithikaAkula/iraitechsite/tree/main/solutions">GitHub Repo</a>
    </h3>
    <br>
    <hr>
    

{% endblock %}